<style>
    .maindiv-buttonbox {
        border: solid rgba(0,0,0, 0.4);
        background-color: whitesmoke;
        border-radius: 7px;
        border-width: thin;
        position: relative;
        width: 350px;
        height: 370px;
        margin: 20px;
        transition-duration: 0.25s;
        padding-top: 45px;
        cursor: pointer;
    }

        .maindiv-buttonbox:hover {
            opacity: 1;
            border-radius: 7px;
            position: relative;
            width: 350px;
            height: 370px;
            margin: 20px;
            transform: translateY(-10px);
            transition-duration: 0.25s;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        }

     .center-flex {
        display: flex;
        justify-content: center;
    }
    .menu-info > a {
        margin-right: auto;
        text-align: start;
        display: block;
        margin-left: 6vh;
        line-height: 25px;
    }
</style>
<div id="modals">
    <div id="addmodal" class="modal fade" role="dialog" style="display: none;" aria-hidden="true;">
        <div class="modal-dialog">

         <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="margin-left: 1rem;">Kayıt Yap</h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body" style="padding-right: 1rem;padding-left: 1rem;display:  flex;">
                    <a class="btn btn-primary" href="/Products/Create" style="margin-right:10px; width:  150px;">
                        Yeni Cihaz Kaydı
                    </a>

                    <a class="btn btn-primary" href="/Branches/Create" style="margin-right:10px; width: 150px;">
                        Yeni Şube Ekle
                    </a>

                    <a class="btn btn-primary" href="/Users/Create" style="width: 150px;">
                        Kullanıcı Kaydı
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Geri</button>
                </div>
            </div>

        </div>
    </div>
    <div id="transmodal" class="modal fade" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="margin-left: 1rem;">Listeler</h4><button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body" style="padding-right: 1rem;padding-left: 1rem;display:  flex;">
                    <a class="btn btn-primary" href="/Products" style="margin-right:10px; width:  150px;">
                        Cihaz Listesi
                    </a>
                    <a class="btn btn-primary" href="/Users" style="margin-right:10px; width: 150px;">
                        Çalışan Listesi
                    </a>

                    <a class="btn btn-primary" href="/Branches" style="width: 150px;">
                        Şube Listesi
                    </a>
                </div>

                <div class="modal-footer" style="">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Geri</button>
                </div>
            </div>

        </div>
    </div>
    <div id="searchmodal" class="modal fade" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="
">
                    <h4 class="modal-title" style="margin-left: 1rem;">Barkod Okut</h4><button type="button" class="close" data-dismiss="modal">x</button>


                </div>
                <div class="modal-body" style="padding-right: 1rem;padding-left: 1rem;display:  flex;">

                    <div class="input-group" style="

">
                        <input class="form-control" type="text" id="txtSearchBarcode" placeholder="Ara...">
                        <span class="input-group-append">
                            <button class="btn btn-primary" id="btnSearchBarcode" type="button">
                                <i class="fa fa-search" style="color:white;"></i>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="modal-footer" style="
">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Geri</button>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="container-fluid" style="text-align:center;">
    <img src="~/Resources\cwest.jpg" style="width:15%;">
    <div class="center-flex">
        <div class="maindiv-buttonbox" data-toggle="modal" data-target="#addmodal">
            <img src="~/Resources/add_1.png" style="width: 30%;">
            <h3 style="margin-top: 10px;">
                Kayıt Yap
            </h3>
            
            <div class="menu-info">
                <a>
                    <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/primitive-dot-512.png" width="5" style="opacity:.5;margin:5px" />
                    Yeni Cihaz Kaydı
                </a>
                <a>
                    <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/primitive-dot-512.png" width="5" style="opacity:.5;margin:5px" />
                    Yeni Şube Ekle
                </a>
                <a>
                    <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/primitive-dot-512.png" width="5" style="opacity:.5;margin:5px" />
                    Kullanıcı Kaydı
                </a>
            </div>

        </div>
        <div class="maindiv-buttonbox" data-toggle="modal" data-target="#transmodal">
            <img src="~/Resources/enterprise.png" style="width: 30%;">

            <h3 style="margin-top: 10px;">
                Listeler
            </h3>
            <div class="menu-info">
                <a>
                    <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/primitive-dot-512.png" width="5" style="opacity:.5;margin:5px" />
                    Cihazları Listele
                </a>
                <a>
                    <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/primitive-dot-512.png" width="5" style="opacity:.5;margin:5px" />
                    Kullanıcıları Listele
                </a>
                <a>
                    <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/primitive-dot-512.png" width="5" style="opacity:.5;margin:5px" />
                    Şubeleri Listele
                </a>
            </div>
        </div>
        <div class="maindiv-buttonbox" data-toggle="modal" data-target="#searchmodal">
            <img src="~/Resources/barcode-scanner.png" style="width: 30%;">
            <h3 style="margin-top: 10px;">
                Barkod
            </h3>

            <div class="menu-info">
                <a>
                    <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/primitive-dot-512.png" width="5" style="opacity:.5;margin:5px" />
                    Barkod okut
                </a>
                <a>
                    <img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/primitive-dot-512.png" width="5" style="opacity:.5;margin:5px" />
                    Manuel giriş ile arama yap
                </a>

            </div>
        </div>
    </div>
</div>
<script>
    $('#txtSearchBarcode').keypress(function (e) {
        if (e.which == 13) {
            window.location.href = "/Products/Barcode?barcode=" + $("#txtSearchBarcode").val();
            return false;
        }
    });
    $("#btnSearchBarcode").click(function ()
    {
        window.location.href = "/Products/Barcode?barcode="+$("#txtSearchBarcode").val();
    });
    
</script>