@model TOPOS.Models.Orders

@{
    ViewBag.Title = "Index";
}

<h2>Order Details</h2>

<table class="table">
    <tr>
        <th>
Name
        </th>
        <th>
Quantity
        </th>
        <th>
Price
        </th>
        <th>
Status: @Model.StatusType
        </th>
    </tr>

@foreach (var item in Model.OrderDetails) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Products.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
</tr>
}
</table>
